In [2]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
import numpy as np

In [3]:
train_features=pd.read_csv("dengue_features_train.csv")
test=pd.read_csv("dengue_features_test.csv")

In [4]:
train_labels=pd.read_csv("dengue_labels_train.csv")

In [5]:
test.tail()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
411,iq,2013,22,2013-05-28,0.301471,0.380029,0.280629,0.383186,41.12,297.774286,...,67.60,89.990000,41.12,17.185714,10.100000,27.40,9.050,32.6,21.8,33.0
412,iq,2013,23,2013-06-04,0.247600,0.296343,0.285371,0.350357,71.52,297.167143,...,45.70,93.891429,71.52,17.448571,9.657143,27.52,10.720,33.8,21.4,68.0
413,iq,2013,24,2013-06-11,0.238729,0.251029,0.252586,0.249771,78.96,295.831429,...,45.22,94.967143,78.96,16.410000,7.385714,27.20,10.075,32.6,21.6,93.2
414,iq,2013,25,2013-06-18,0.310429,0.302700,0.406614,0.403943,39.54,295.778571,...,4.70,89.057143,39.54,15.137143,8.228571,26.70,8.480,32.2,21.8,34.1
415,iq,2013,26,2013-06-25,0.339467,0.240071,0.356943,0.273600,51.80,297.372857,...,27.80,87.030000,51.80,16.148571,11.542857,27.35,9.675,32.6,22.0,14.9

In [6]:
train_features.tail()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [7]:
train_data=pd.merge(train_features,train_labels)

In [8]:
train_data.iloc[0:5,0:5]

  city  year  weekofyear week_start_date   ndvi_ne
0   sj  1990          18      1990-04-30  0.122600
1   sj  1990          19      1990-05-07  0.169900
2   sj  1990          20      1990-05-14  0.032250
3   sj  1990          21      1990-05-21  0.128633
4   sj  1990          22      1990-05-28  0.196200

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()
train_data['city']=le.fit_transform(train_data['city'])

In [11]:
test['city']=le.transform(test['city'])

In [12]:
(train_data.city==1).sum()

936

In [13]:
temp_train=train_data.copy()

In [14]:
del temp_train['week_start_date']

In [15]:
del test['week_start_date']

In [16]:
temp_train.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
total_cases                                0
dtype: int64

In [17]:
test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
dtype: int64

In [18]:
temp_train=temp_train.dropna()

In [19]:
for i in test.columns:
    if test[i].isnull().sum()>0:
        test[i].fillna(test[i].mean(),inplace=True)

In [20]:
test.isnull().sum()

city                                     0
year                                     0
weekofyear                               0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [21]:
# scaler=StandardScaler()
# temp_train=scaler.fit_transform(temp_train)

In [22]:
temp_train.shape

(1199, 24)

In [23]:
x=temp_train.iloc[:,0:23]
y=temp_train.iloc[:,23:]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [25]:
#clf=LinearRegression()
#clf=DecisionTreeRegressor()
clf=RandomForestRegressor(n_estimators=500,n_jobs=-1,criterion='mae')
clf.fit(x,y)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [26]:
y_pred=clf.predict(x_test)
y_pred=y_pred.round()
y_pred=y_pred.astype(int)
mean_absolute_error(y_test,y_pred)

4.213333333333333

In [27]:
pred=clf.predict(test)

In [28]:

test.shape

(416, 23)

In [29]:
city=(le.inverse_transform(test['city']))

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [30]:
d=np.c_[city,test['year'],test['weekofyear'],pred]
d=pd.DataFrame(d)
d.head()
#d[3]=d[3].round()

    0     1   2       3
0  sj  2008  18   5.078
1  sj  2008  19   6.192
2  sj  2008  20   6.712
3  sj  2008  21   9.603
4  sj  2008  22  10.564

In [31]:
d[3] = d[3].apply(lambda x: round(x,0))
d[3]=d[3].astype(int)
d.head()

    0     1   2   3
0  sj  2008  18   5
1  sj  2008  19   6
2  sj  2008  20   7
3  sj  2008  21  10
4  sj  2008  22  11

In [37]:
d.to_csv('sub_1.csv',index=False,header=['city','year','weekofyear','total_cases'])

In [38]:
d.shape

(416, 4)

In [39]:
d.head()

    0     1   2   3
0  sj  2008  18   5
1  sj  2008  19   6
2  sj  2008  20   7
3  sj  2008  21  10
4  sj  2008  22  11

In [40]:
d[3]=d[3].astype('int')

In [41]:
var=40.82354
type(round(var)),type(var)
round(var,0)

41.0

In [44]:
import missingno